    {% extends 'inventario/base.html' %}

    {% block title %}Detalle de Pago a Proveedor{% endblock %}

    {% block content %}
        <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center">Detalle de Pago a Proveedor</h1>

        <div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md mb-8">
            <div class="grid grid-cols-1 gap-4 mb-6">
                <div>
                    <p class="text-gray-700 text-sm font-bold">Proveedor:</p>
                    <p class="text-gray-900 text-lg">{{ pago.proveedor.nombre }}</p>
                </div>
                <div>
                    <p class="text-gray-700 text-sm font-bold">Monto:</p>
                    <p class="text-gray-900 text-lg">${{ pago.monto|floatformat:2 }}</p>
                </div>
                <div>
                    <p class="text-gray-700 text-sm font-bold">Fecha de Pago:</p>
                    <p class="text-gray-900 text-lg">{{ pago.fecha_pago|date:"d/m/Y" }}</p>
                </div>
                <div>
                    <p class="text-gray-700 text-sm font-bold">Descripción:</p>
                    <p class="text-gray-900 text-lg">{{ pago.descripcion|default:"Sin descripción" }}</p>
                </div>
            </div>

            <div class="flex justify-end mt-8">
                <a href="{% url 'inventario:pago_proveedor_list' %}" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105 mr-2">Volver a la Lista</a>
                <a href="{% url 'inventario:pago_proveedor_update' pago.pk %}" class="bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105 mr-2">Editar</a>
                <a href="{% url 'inventario:pago_proveedor_delete' pago.pk %}" class="bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105">Eliminar</a>
            </div>
        </div>
    {% endblock %}